.container {
    display: flex;             /* Sets the container as a flex container */
    flex-direction: row;       /* Main axis is horizontal (left-to-right) */
    justify-content: space-evenly;   /* positioning items along the main axis */
    flex-wrap: wrap;           /* Allows items to wrap onto multiple rows */
    align-items: center;       /* positioning items along the cross axis */
    align-content: center;     /* Distributes space on the cross-axis */
    
    height: 1000px;             /* Adds extra height to visualize the alignment */
    gap: 10px;                 /* Space between items */
    background-color: #050146;
}

#right {

    /* Appearance */
    /* border: 2px solid red; */
    width: 45%;
    height: 80%;
    background-color: #001885;

    /*as container */
    display: flex;             /* Sets the container as a flex container */
    flex-direction: column;       /* Main axis is horizontal (left-to-right) */
    justify-content: space-evenly;
    align-items: center;
    font-family: monospace;
    font-size: 200%;       /* Center text vertically */
}

#left {         
    
    /* Appearance */
    width: 45%;
    height: 80%;
    background-color: #001885;
    display: flex;             
    justify-content: center;   
    align-items: center;     

    /*as container */
    display: flex;            
    flex-direction: column;   
    justify-content: space-evenly;
    font-family: monospace;
    font-size: 200%;
}

#left div {       
    
    /* Appearance */
    width: 40%;
    height: 80%;
    border: 2px solid rgb(0, 145, 0);
    background-color: rgb(30, 82, 255);
    text-align: center;
    align-content: center;

}

#right div {
    
    /* Appearance */
    height: 25%;
    width: 90%;
    border: 2px rgb(0, 145, 0);
    background-color: rgb(0, 39, 167);
    text-align: center;
    align-content: center;

}

#middern {
    text-align: center;
    background-color: rgb(30, 82, 255);
    color: #001885;
    border: 2px solid rgb(0, 145, 0);
    border-radius: 10px;
    height: 60px;
    padding: 20px;
}

body {
    background-color: rgb(0, 164, 230);
  }
  
  /* Media query for screens wider than 600px */
  @media (min-width: 600px) {
    body {
      background-color: lightcoral;
    }
  
  }
  
  /* Media query for screens wider than 900px */
  @media (min-width: 900px) {
    body {
      background-color: rgb(0, 164, 230);
    }
  
  }
